<% if (errorMsg?.length) { %>
    <div class="alert alert-danger mt-2">
        <%= errorMsg %>
    </div>
    <% } %>

        <form action="" method="post">
            <label for="password" class="mb-2">Password</label>
            <input type="password" name="password" id="password" class="form-control mb-2">
            <button class="btn btn-primary">Submit</button>
        </form>