<div class="py-4 text-center">
    <h2 class="mb-2 text-warning">CHÚC MỪNG NĂM MỚI</h2>
    <h1 class="mb-2 text-danger">Xuân Giáp Thìn 2024</h1>
    <p class="mb-2 text-success fs-4 w-50 mx-auto fw-bold fst-italic">Năm mới xuân sang, chúc người đang ngồi trước màn
        hình thật
        nhiều sức
        khoẻ,
        miệng
        cười
        vui vẻ, tiền vào mạnh mẽ,
        công việc suôn sẻ, cuộc đời đẹp đẽ, sự nghiệp lên hương, thật nhiều người thương, may mắn đủ đường.</p>
</div>

<div class="w-50 mx-auto">
    <h1 class="text-center">Đăng nhập</h1>
    <% if (error.length) { %>
        <div class="alert alert-danger mt-2 text-center">
            <%= error %>
        </div>
        <% } %>
            <form class="mb-4" method="post">
                <div class="mb-4">
                    <label for="email" class="mb-2">Email</label>
                    <input type="text" name="email" id="email" class="form-control" placeholder="Your Email...">
                </div>
                <div class="mb-4">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control"
                        placeholder="Your Password...">
                </div>
                <a href="/auth/forgot-password" class="mb-4 d-block">Forgot Password?</a>
                <button class="btn btn-primary w-100">Login</button>
                <a href="/auth/register" class="btn btn-primary mt-2 w-100">Register</a>
                <a href="/auth/google" class="btn btn-danger mt-2 w-100">Login with Google</a>
            </form>
</div>