<h1>Hi I'm Huy. This is my small project about decentralization, manage devices and shorten links</h1>

<ul class="d-flex gap-2 list-unstyled">
  <li>Hello: <%= req.user.name %>
  </li>
  <li><a href="/logout">Logout</a></li>
</ul>