<h1>Change Password</h1>

<% if (msg?.length) { %>
    <div class="alert alert-success mt-2">
        <%= msg %>
    </div>
    <% } %>

        <form class="mb-4" method="post">
            <div class="mb-4">
                <label class="mb-2">Mật khẩu cũ</label>
                <input type="password" name="passwordOld" class="form-control" placeholder="Your Password...">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.passwordOld %>
                </span>
            </div>
            <div class="mb-4">
                <label class="mb-2">Mật khẩu mới</label>
                <input type="password" name="passwordNew" class="form-control" placeholder="Your New Password...">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.passwordNew %>
                </span>
            </div>
            <div class="mb-4">
                <label class="mb-2">Nhập lại mật khẩu mới</label>
                <input type="password" name="passwordNewRetype" class="form-control"
                    placeholder="Retype Your Password ...">
                <span class="mt-2 text-danger">
                    <%= req?.errors?.passwordNewRetype %>
                </span>
            </div>
            <button class="btn btn-primary">Thay đổi</button>
            <a href="/account" class="btn btn-danger">Thui</a>
        </form>